Flask>=2.3.0,<2.3.3

flask-restx>=1.0.0,<1.1.1

python-dotenv

Flask-SQLAlchemy

flask-login

Flask-Migrate

Flask-JWT-Extended

Werkzeug

Flask-WTF

Flask-Session

psycopg2-binary

Flask-Script

oauthlib

Authlib

requests

Flask-Dance

Flask-Dance[sqla]

Flask-Dance[google]

Flask-Mail

itsdangerous

reportlab

beautifulsoup4

flask-cors

Flask-AdminLTE3

Flask-Admin

gunicorn
