{% extends 'backend/account_succor.html' %}

{% block title %} Login {% endblock %}

{% block options %}Sign In {% endblock %}


{% block content %}

            <div class="card-body">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% for category, message in messages %}
                <div style="color: white;" align="center" class="alert alert-{{ category }}" role="alert">

                  {{message}} 
                </div>
              {% endfor %}
              {% endwith %}



              <form action="/account/change-password" method="POST" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="password" aria-label="password">
                </div>
                
                <div class="mb-3">
                  <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" aria-label="password">
                </div>
                
                <div class="text-center">
                  <button  class="btn bg-gradient-dark w-100 my-4 mb-2">Change Password</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <br>


{% endblock %}