{% extends 'backend/account_succor.html' %}

{% block title %} Password Reset {% endblock %}

{% block options %}Password Reset Center {% endblock %}


{% block content %}

            <div class="card-body">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% for category, message in messages %}
                <div style="color: white;" align="center" class="alert alert-{{ category }}" role="alert">

                  {{message}} 
                </div>
              {% endfor %}
              {% endwith %}



              <form action="/account/password-reset" method="POST" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="mb-3">
                  <input type="text" class="form-control" name="email" placeholder="Enter your Email" aria-label="email">
                </div>
                
                  <button  class="btn bg-gradient-dark w-100 my-4 mb-2">Reset Password</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <br>


{% endblock %}